@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="row">
    <div class="w-50 mx-auto">
        <h1 class="text-warning">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h2 class="text-warning">Введите данные от Админ-панели.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="admin@admin.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="!Admin1" />
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-warning">Вход</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
